<!doctype html>
<html>
   <body>
      <table border = 1>
         <thead>
            <td>Amount</td>
            <td>From</td>
            <td>To</td>
            <td>Final Amount</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["amount"]}}</td>
               <td>{{row["from_curr"]}}</td>
               <td> {{ row["to_curr"]}}</td>
               <td>{{row['amount_final']}}</td>	
            </tr>
         {% endfor %}
      </table>
      
      <a href = "currencyconverter2">Go back</a>
   </body>
</html>