<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Currency Converter</title>
	</head>
	<body>
            {% include 'includes/_messages.html' %}
            {% block body %}{% endblock %}
		<form method="POST" action = "http://localhost:5000/setdefaultcrypt">
				<select name = "Crypt">
					<option selected="selected" value={{crypt_select}}>{{crypt_select}}</option>
					{% for key in crypt_form %} 
					<option value="{{key}}">{{key}}</option>
					
					{% endfor %}
				</select>
				<input type="submit" name="submit" value="submit">
                    <a href = "listdefault">Next</a>

                            
			</form>
        
		
        
	</body>
    

</html>


