<!DOCTYPE html>
<html>
    <head>
        <title> Lol </title>
        <a href={{ url_for('currency_converter') }}>Convert Currencies</a>
        <p>Show currency rates for</p>
        <a href={{ url_for('usd') }}>US Dollar</a>
        <br>
        <a href={{ url_for('euro') }}>Euro</a>
        <br>
        <a href={{ url_for('pound') }}>British Pound</a>
        <br>
        <a href={{ url_for('sgd') }}>Singapore Dollar</a>
        <br>
        <a href={{ url_for('chf') }}>Swiss Franc</a>
        <br>
        <a href={{ url_for('rub') }}>Russian Ruble</a>
        <br>
        <a href={{ url_for('aud') }}>Australian Dollar</a>
        <br>
        <a href={{ url_for('idr') }}>Indonesian Rupiah</a>
        <br>
        <a href={{ url_for('cny') }}>Chinese Yuan Renminbi</a>
        <br>
        
    </head>

</html>
